div {
    width: 200px;
    height: 200px;
    position: absolute;
    opacity: 0.5;
  }
  
  .shape1 {
    background: red;
  }
  
  .shape2 {
    background: green;
    top: 50px;
    left: 50px;
  }
  
  .shape3 {
    background: blue;
    top: 100px;
    left: 100px;
  }
  